In [10]:
import pandas as pd
import numpy as np

PATH = 'Data/'


pd.read_csv(PATH + "training_set_features.csv")

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,Not Married,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN

In [11]:
pd.read_csv(PATH + "training_set_labels.csv")

       respondent_id  h1n1_vaccine  seasonal_vaccine
0                  0             0                 0
1                  1             0                 1
2                  2             0                 0
3                  3             0                 1
4                  4             0                 0
...              ...           ...               ...
26702          26702             0                 0
26703          26703             0                 0
26704          26704             0                 1
26705          26705             0                 0
26706          26706             0                 0

[26707 rows x 3 columns]

### TASKS 
Concrètement on a un problème de classification : pour une série de données en entrées on aimerait savoir si une personne est vaccinée ou non et pour se faire on va entraîner des modèles sur tout un tas de données d'entraînement.
#### 1) Explorer les données 
Se poser des questions comme combien de features on a , quelle nature (string, int, catégorique ou pas, ...) , quelle lien avec les labels de prédictions (déterminer si il y a corrélation)
#### 2) Normaliser les données
-data imputation --> remplacer les valeurs vides (NaN) par une autre (par ex. par la moyenne de la colonne), ou supprimer l'entrée <br> 

-categorical encoding --> des catégories hiérarchiques comme "Below Poverty" ou "<= 75,000, Above Poverty" vont être encodées par des ints (0 = pauvre, 1 = juste au dessus, ... 3 = riche) <br> 

-one-hot-encoding --> les catégories non hiérarchiques comme les régions géographiques vont être extraites et former de nouvelles catégories où les entrées seront binaires (0 les gens ne sont pas de là, 1 ils sont de là) <br> 

-normalisation numérique --> chaque i dans une colonne va être remplacée par (i-µ)/sd , µ = moyenne de la colonne , sd = deviation standard 
<br>
#### 3) FAIRE JOUJOU AVEC DES MOD7LES 
Les modèles qui seront surement les plus rapides & les plus efficaces pour notre problème sont XG BOOST et Random Forest, tous deux des algorithmes basés sur les arbres décisionnels <br>
Je te conseille cette chaîne youtube qui est phé no mé nale pour comprendre les quelques bases théoriques de ces modèles<br>
https://www.youtube.com/watch?v=7VeUPuFGJHk

https://www.youtube.com/watch?v=GrJP9FLV3FE

https://www.youtube.com/watch?v=J4Wdy0Wc_xQ

On benchmarkera ces modèles à l'aide de confusion matrix principalement : https://machinelearningmastery.com/confusion-matrix-machine-learning/